.body {
  width: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  width: 50vh;
  border: solid;
  background-color: hsl(60, 100%, 50%);
  margin-left: 35%;
}
.bdy {
  background-color: rgb(110, 89, 89);
  width: 100%;
}
.abdy {
  background-color: rgb(110, 89, 89);
  width: 100%;
}
.begin {
  margin-left: -30vh;
  margin-bottom: 10px;
}
.int {
  margin-left: -25vh;
  margin-bottom: 10px;
}
.adv {
  margin-left: -30vh;
  margin-bottom: 10px;
}
.cad {
  border: solid;
  border-radius: 10px;
  height: 25vh;
  width: 100%;
  text-align: center;
}
.bbdy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  width: 50vh;
  border: solid;
  background-color: white;
  margin-left: 80vh;
}
.abs {
  margin-top: -20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.time {
  margin-left: -30vh;
  margin-top: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.vr {
  width: 65vh;
  margin-left: -47px;
  font-weight: bolder;
  margin-top: -10px;
}
.bgset {
  margin-top: -5vh;
  font-family: Arial, Helvetica, sans-serif;
}
.jjak {
  margin-left: 27vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
}
.sec {
  margin-left: 12vh;
  color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.vrs {
  width: 65vh;
  margin-left: -47px;
  font-weight: bolder;
  margin-top: 18px;
}
.x {
  margin-left: 8vh;
  color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btwist {
  margin-left: 25vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
}
.htoch {
  margin-left: 21vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
}
.bplk {
  margin-left: 14vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
}
.bleg {
  margin-left: 20vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
}
.btn {
  background-color: blue;
  color: white;
  border: solid;
  border-radius: 15px;
  height: 50px;
  width: 55vh;
  margin-top: 5px;
  margin-bottom: -40px;
}

.back {
  margin-left: -28vh;
  margin-bottom: 10px;
  margin-top: -24px;
  font-size: 20px;
}
.but {
  margin-left: 37%;
}
@media only screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 50vh;
    border: solid;
    background-color: hsl(60, 100%, 50%);
    margin-left: 20%;
  }
  .bbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 50vh;
    border: solid;
    background-color: white;
    margin-left: 20%;
  }
  .but {
    margin-left: 67px;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 25vh;
    border: solid;
    background-color: hsl(60, 100%, 50%);
    margin-left: 10%;
  }
  .begin {
    margin-left: -22vh;
    margin-bottom: 10px;
  }
  .int {
    margin-left: -17vh;
    margin-bottom: 10px;
  }
  .adv {
    margin-left: -22vh;
    margin-bottom: 10px;
  }
  .abdy {
    background-color: white;
    width: 100%;
    margin-top: -3px;
  }
  .bbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 50vh;
    border: solid;
    background-color: white;
    margin-left: -1%;
    margin-right: 10%;
  }
  .vr {
    width: 60vh;
    margin-left: -40px;
    font-weight: bolder;
    margin-top: -10px;
  }

  .vrs {
    width: 60vh;
    margin-left: -40px;
    font-weight: bolder;
    margin-top: 18px;
  }
  .sec {
    margin-left: 11vh;
    color: gray;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .x {
    margin-left: 7vh;
    color: gray;
    font-size: 30px;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .bgset {
    margin-top: -2vh;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .back {
    margin-left: -26vh;
    margin-bottom: -9px;
    margin-top: -30px;
    font-size: 40px;
  }
  .time {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -20vh;
  }
  .jjak {
    margin-left: 26vh;

    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .btwist {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .htoch {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .bplk {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18vh;
    margin-left: 12vh;
    font-weight: bold;
  }
  .bleg {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20vh;
    font-weight: bold;
  }
  .btn {
    font-size: 30px;
    height: 60px;
  }
  .but {
    margin-left: 12px;
    margin-right: 10px;
  }
}
