.body {
  width: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  width: 50vh;
  border: solid;
  border-radius: 20px;
  background-color: hsl(60, 100%, 50%);
  margin-left: 35%;
}
.bdy {
  background-color: rgb(110, 89, 89);
  width: 100%;
}
.abdy {
  background-color: rgb(110, 89, 89);
  width: 100%;
}
.begin {
  margin-left: -30vh;
  margin-bottom: 10px;
}
.int {
  margin-left: -25vh;
  margin-bottom: 10px;
}
.adv {
  margin-left: -30vh;
  margin-bottom: 10px;
}
.cad {
  border: solid;
  border-radius: 10px;
  height: 25vh;
  width: 100%;
  text-align: center;
}
.bbdy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  width: 50vh;
  border: solid;
  border-radius: 20px;
  background-color: white;
  margin-left: 80vh;
}
.arbak {
  margin-top: -15px;
  height: 30vh;
  margin-left: 15px;
}
.im {
  margin-left: 52px;
  margin-bottom: 40px;
}
.im2 {
  margin-left: 28px;
  margin-bottom: 40px;
}
.im3 {
  margin-left: 3px;
  margin-bottom: 40px;
}
.im4 {
  margin-left: 25px;
  margin-bottom: 2px;
}
.im5 {
  margin-left: 24px;
  margin-bottom: 2px;
}
.im6 {
  margin-left: 70px;
  margin-bottom: 2px;
}
.im7 {
  margin-left: 50px;
  margin-bottom: 2px;
}
.im8 {
  margin-left: 70px;
  margin-bottom: 2px;
}
.im9 {
  margin-left: 65px;
  margin-bottom: 2px;
}
.im10 {
  margin-left: 15vh;
  margin-bottom: 2px;
}
.im11 {
  margin-left: 10vh;
  margin-bottom: 2px;
}
.im12 {
  margin-left: 10vh;
  margin-bottom: 2px;
}
.absb {
  margin-top: -15px;
  height: 30vh;
  margin-left: -22px;
}

.back {
  margin-left: 3vh;
  margin-bottom: 10px;
  margin-top: -24px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back2 {
  margin-left: 8vh;
  margin-bottom: 10px;
  margin-top: -3vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back3 {
  margin-left: -28vh;
  margin-bottom: -5px;
  margin-top: -24px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back4 {
  margin-left: 2vh;
  margin-bottom: -40vh;
  margin-top: -24px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back5 {
  margin-left: 1vh;
  margin-bottom: -1vh;
  margin-top: 1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back6 {
  margin-left: 8vh;
  margin-bottom: -1vh;
  margin-top: -1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back7 {
  margin-left: 8vh;
  margin-bottom: 1vh;
  margin-top: -1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back8 {
  margin-left: 8vh;
  margin-bottom: -1vh;
  margin-top: -2vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back9 {
  margin-left: 8vh;
  margin-bottom: 1vh;
  margin-top: -1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}
.back10 {
  margin-left: 8vh;
  margin-bottom: 2vh;
  margin-top: -1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}

.back11 {
  margin-left: 8vh;
  margin-bottom: -5vh;
  margin-top: 1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}

.back12 {
  margin-left: 8vh;
  margin-bottom: -1vh;
  margin-top: -1vh;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: white;
  border-radius: 5px;
}

.bgset {
  margin-top: -5vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20vh;
}
.bgset2 {
  margin-top: -2vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6vh;
  margin-bottom: 4vh;
}
.bgset3 {
  margin-top: -2vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20vh;
  margin-bottom: -1vh;
}
.bgset4 {
  margin-top: -2vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20vh;
  margin-bottom: 2vh;
  word-spacing: 2.5px;
}
.bgset5 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: 2vh;
  word-spacing: 2.5px;
}
.bgset6 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 26vh;
  margin-bottom: 3vh;
  word-spacing: 2.5px;
}
.bgset7 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: 2vh;
  word-spacing: 2.5px;
}
.bgset8 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: 3vh;
  word-spacing: 2.5px;
}
.bgset9 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: -1vh;
  word-spacing: 2.5px;
}
.bgset10 {
  margin-top: -5vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: 4vh;
  word-spacing: 2.5px;
}

.bgset11 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: -3vh;
  word-spacing: 2.5px;
}
.bgset12 {
  margin-top: -3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: -3vh;
  word-spacing: 2.5px;
}
.bgset13 {
  margin-top: -2.5vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25vh;
  margin-bottom: -2vh;
  word-spacing: 2.5px;
}
.abs {
  margin-top: -55px;
  margin-bottom: 20px;
  margin-left: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs2 {
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 15vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs3 {
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 13vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs4 {
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 13vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs5 {
  margin-top: -18px;
  margin-bottom: 20px;
  margin-left: 15vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs6 {
  margin-top: -18px;
  margin-bottom: 20px;
  margin-left: 13vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs7 {
  margin-top: -18px;
  margin-bottom: 20px;
  margin-left: 17.5vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs8 {
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 16vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs9 {
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 16vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.abs10 {
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 14.5vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.arm {
  margin-top: -55px;
  margin-bottom: 20px;
  margin-left: 58px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.bak1 {
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.vrr {
  width: 65vh;
  margin-left: -15px;
  font-weight: bolder;
  margin-top: -10px;
}
.vrl {
  width: 65vh;
  margin-left: -17px;
  font-weight: bolder;
  margin-top: 3vh;
}
.vrabi {
  width: 66vh;
  margin-left: 19.3px;
  font-weight: bolder;
  margin-top: 3vh;
}
.vrchein {
  width: 66.5vh;
  margin-left: 19px;
  font-weight: bolder;
  margin-top: -2vh;
}
.vrarm {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: 1vh;
}
.vrleg {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: 4vh;
}

.vrlegad {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: 6vh;
}
.vrbac {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: 4vh;
}
.vrbacad {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: 4vh;
}

.vrabsa {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: -2.5vh;
}
.vrchead {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: -3vh;
}

.vrarmad {
  width: 66.5vh;
  margin-left: 21px;
  font-weight: bolder;
  margin-top: 4.5vh;
}

.vrb {
  width: 66vh;
  margin-left: -12px;
  font-weight: bolder;
  margin-top: 3vh;
}
.vrabsb {
  width: 64vh;
  margin-left: 15px;
  font-weight: bolder;
  margin-top: -2px;
}
.bgsetabs {
  margin-top: -5vh;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 27vh;
}
.time {
  margin-left: -31vh;
  margin-top: 72px;
  font-family: Arial, Helvetica, sans-serif;
}
.time3 {
  margin-left: -31vh;
  margin-top: -5px;
  margin-bottom: 20vh;
  font-family: Arial, Helvetica, sans-serif;
}
.time4 {
  margin-left: -31vh;
  margin-top: 25vh;
  margin-bottom: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}
.vr {
  width: 65vh;
  margin-left: -47px;
  font-weight: bolder;
  margin-top: -10px;
}

.jjak {
  margin-left: 27vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.sec {
  margin-left: 12vh;
  color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.vrs {
  width: 65vh;
  margin-left: -47px;
  font-weight: bolder;
  margin-top: 18px;
}
.x {
  margin-left: 8vh;
  color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btwist {
  margin-left: 25vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.htoch {
  margin-left: 21vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.bplk {
  margin-left: 14vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.bleg {
  margin-left: 20vh;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  background-color: blue;
  color: white;
  border: solid;
  border-radius: 15px;
  height: 50px;
  width: 55vh;
  margin-top: 5px;
  margin-bottom: -40px;
}

.but {
  margin-left: 27vh;
}
.barm {
  margin-left: 21vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.bpun {
  margin-left: 18vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.bups {
  margin-left: 18vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.binch {
  margin-left: 22vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.bwal {
  margin-left: 25vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.abbin {
  margin-top: -22.5vh;
  margin-bottom: 18.9vh;
  margin-left: 20vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bolder;
}
.chest {
  margin-top: -22.8vh;
  margin-bottom: 19vh;
  margin-left: 16vh;
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.armb {
  margin-bottom: 19.2vh;
  margin-top: -23vh;
  color: white;
  margin-left: 20vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.legb {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 20vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.backb {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 18vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.absi {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 14vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.chesti {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 9vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.armi {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 12vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.legi {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 13vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.backi {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 10vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.absa {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 19vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.chesta {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 15vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.arma {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 18vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.lega {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 19vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.backa {
  margin-bottom: 19.4vh;
  margin-top: -23vh;
  color: white;
  margin-left: 17vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.che0 {
  margin-top: -53px;
  margin-bottom: 20px;
  margin-left: 16.5vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.che {
  margin-top: -53px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.che1 {
  margin-top: -55px;
  margin-bottom: 20px;
  margin-left: 12vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.vrche {
  width: 66vh;
  margin-left: -45px;
  font-weight: bolder;
  margin-top: -95px;
  margin-bottom: 20px;
}
.leg1 {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 116, 0);
}
.start {
  margin-left: 5px;
  color: whitesmoke;
  background-color: rgb(2, 109, 2);
  border-radius: 5px;
  border-color: white;
  height: 30px;
}
.stop {
  margin-left: 5px;
  color: whitesmoke;
  background-color: rgb(218, 3, 3);
  border-radius: 5px;
  border-color: white;
  height: 30px;
}
.reset {
  margin-left: 5px;
  color: whitesmoke;
  background-color: rgb(4, 4, 204);
  border-radius: 5px;
  border-color: white;
  height: 30px;
}
.jumtim {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.numbers {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 42px;
}
.backWard {
  margin-left: -50vh;
  color: blue;
  font-size: 30px;
  width: 10px;
}
.forWard {
  margin-top: -5vh;
  margin-left: 45vh;
  color: blue;
  font-size: 30px;
}
.phoneView {
  margin-left: 1px;
}
.bgsetabss {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 25vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.back2 {
  margin-bottom: -20px;
  margin-left: 10vh;
  margin-top: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 50vh;
    border: solid;
    background-color: hsl(60, 100%, 50%);
    margin-left: 20%;
  }
  .bbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 50vh;
    border: solid;
    border-radius: 20px;
    background-color: white;
    margin-left: 20%;
  }
  .but {
    margin-left: 67px;
  }
  .abbin {
    margin-top: -23vh;
    margin-bottom: 19.4vh;
    margin-left: 20vh;
    color: white;
    font-size: 19px;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 25vh;
    border: none;
    background-color: hsl(60, 100%, 50%);
    margin-left: 10%;
  }

  .begin {
    margin-left: -22vh;
    margin-bottom: 10px;
  }
  .int {
    margin-left: -17vh;
    margin-bottom: 10px;
  }
  .adv {
    margin-left: -22vh;
    margin-bottom: 10px;
  }
  .abdy {
    background-color: white;
    width: -10%;
    margin-top: -3px;
  }
  .bbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 52vh;
    border: solid;
    border-radius: 1px;
    background-color: white;
    margin-left: -1%;
    margin-right: 10%;
  }
  .abs {
    margin-top: -5px;
    margin-bottom: 60px;
    margin-left: 15vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .phoneView {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: -60px;
  }
  .arm {
    margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }

  .abs2 {
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs3 {
    margin-top: 46px;
    margin-bottom: 55px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs4 {
    margin-top: 46px;
    margin-bottom: 55px;
    margin-left: 17vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs7 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 22vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs8 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs9 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs10 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs30 {
    margin-top: 43px;
    margin-bottom: 55px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .leg1 {
    margin-top: 43px;
    margin-bottom: 60px;
    margin-left: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .bak1 {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bolder;
    color: rgb(0, 116, 0);
  }
  .back2 {
    margin-top: -20px;
    margin-bottom: 13px;
    margin-left: 10vh;
    font-size: 30px;
  }
  .back3 {
    margin-top: 20px;
    margin-bottom: -50px;
    margin-left: -25vh;
    font-size: 30px;
  }
  .back5 {
    margin-left: 50px;
    margin-bottom: -20px;
    font-size: 30px;
  }
  .back6 {
    margin-left: 80px;
    margin-bottom: -30px;
    margin-top: -30px;
    font-size: 30px;
  }
  .back9 {
    margin-left: 80px;
    margin-bottom: 2px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back8 {
    margin-left: 80px;
    margin-bottom: 2px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back9 {
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back10 {
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back11 {
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back12 {
    margin-left: 80px;
    margin-bottom: -1px;
    margin-top: -10px;
    font-size: 30px;
  }
  .bgsetabs {
    font-size: 27px;
  }
  .bgsetabss {
    font-size: 27px;
    margin-top: -50px;
    margin-left: 25vh;
    margin-bottom: 20px;
  }
  .bgset2 {
    font-size: 25px;
    margin-top: -20px;
  }
  .bgset4 {
    font-size: 25px;
  }
  .bgset5 {
    font-size: 25px;
    margin-bottom: -15px;
  }

  .bgset6 {
    font-size: 25px;
  }
  .bgset7 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: -40px;
  }
  .bgset8 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: -40px;
  }
  .bgset10 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: -40px;
  }
  .bgset11 {
    font-size: 25px;
    margin-bottom: -22px;
    margin-top: -40px;
  }
  .bgset12 {
    font-size: 25px;
    margin-bottom: -40px;
    margin-top: -10px;
  }
  .bgset13 {
    font-size: 25px;
    margin-bottom: -20px;
    margin-top: -30px;
  }
  .time3 {
    font-size: 25px;
    margin-top: 1vh;
    margin-bottom: 13vh;
    margin-left: -22vh;
  }

  .time4 {
    margin-left: -25vh;
    font-size: 22px;
  }
  .vr {
    width: 60vh;
    margin-left: -40px;
    font-weight: bolder;
    margin-top: -10px;
  }

  .vrs {
    width: 60vh;
    margin-left: -40px;
    font-weight: bolder;
    margin-top: 18px;
  }

  .vrabsb {
    width: 64vh;
    margin-left: 15px;
    font-weight: bolder;
    margin-top: -6px;
  }
  .sec {
    margin-left: 11vh;
    color: gray;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .x {
    margin-left: 7vh;
    color: gray;
    font-size: 30px;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .bgset {
    margin-top: -2vh;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .back {
    margin-left: 5vh;
    margin-bottom: -10px;
    margin-top: 8px;
    font-size: 40px;
  }
  .che1 {
    margin-top: 8px;
    margin-left: 17vh;
    font-size: 30px;
  }
  .time {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -20vh;
  }
  .jjak {
    margin-left: 26vh;

    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .barm {
    margin-left: 20vh;
    font-size: 23px;
  }
  .bpun {
    margin-left: 15vh;
    font-size: 25px;
  }
  .bups {
    margin-left: 16vh;
    font-size: 25px;
  }
  .binch {
    margin-left: 20vh;
    font-size: 25px;
  }
  .bwal {
    margin-left: 25vh;
    font-size: 25px;
  }

  .btwist {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .htoch {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .bplk {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18vh;
    margin-left: 12vh;
    font-weight: bold;
  }
  .bleg {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20vh;
    font-weight: bold;
  }
  .btn {
    font-size: 30px;
    height: 60px;
  }
  .but {
    margin-left: 12px;
    margin-right: 10px;
  }
  .bbdy {
    min-height: 123.5vh;
    width: 52vh;
    border: none;
  }

  .abbin {
    margin-top: -16vh;
    margin-bottom: 13.5vh;
    margin-left: 14vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bolder;
  }
  .chest {
    margin-top: -16vh;
    margin-bottom: 13.5vh;
    margin-left: 11vh;
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .armb {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 14vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .legb {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 14vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .backb {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 12vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .absi {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 9vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .chesti {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 6vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .armi {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 9vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .legi {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 10vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .backi {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 7vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .absa {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 13vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .chesta {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 10vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .arma {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 13vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }

  .lega {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 13vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .backa {
    margin-bottom: 13.5vh;
    margin-top: -16vh;
    color: white;
    margin-left: 11vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .home {
    font-size: 31.8px;
  }
  .animation {
    margin-top: 10vh;
  }
  .doneOutOfRemaining {
    font-size: 30px;
  }
  .jumtim {
    font-size: 26px;
  }
}
@media only screen and (max-width: 375px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 30vh;
    border: none;
    background-color: hsl(60, 100%, 50%);
    margin-left: 10%;
  }
  .bdy {
    width: 56.2vh;
    margin-left: -7px;
  }

  .begin {
    margin-left: -22vh;
    margin-bottom: 10px;
  }
  .int {
    margin-left: -17vh;
    margin-bottom: 10px;
  }
  .adv {
    margin-left: -22vh;
    margin-bottom: 10px;
  }
  .abdy {
    background-color: white;
    width: -10%;
    margin-top: -3px;
  }
  .bbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 52vh;
    border: solid;
    border-radius: 1px;
    background-color: white;
    margin-left: -1%;
    margin-right: 10%;
  }
  .abs {
    margin-top: -5px;
    margin-bottom: 60px;
    margin-left: 15vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .phoneView {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: -60px;
  }
  .arm {
    margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }

  .abs2 {
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs3 {
    margin-top: 46px;
    margin-bottom: 55px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs4 {
    margin-top: 46px;
    margin-bottom: 55px;
    margin-left: 17vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs7 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 22vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs8 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs9 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs10 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .abs30 {
    margin-top: 43px;
    margin-bottom: 55px;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .leg1 {
    margin-top: 43px;
    margin-bottom: 60px;
    margin-left: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: rgb(0, 116, 0);
  }
  .bak1 {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bolder;
    color: rgb(0, 116, 0);
  }
  .back2 {
    margin-top: -20px;
    margin-bottom: 13px;
    margin-left: 10vh;
    font-size: 30px;
  }
  .back3 {
    margin-top: 20px;
    margin-bottom: -50px;
    margin-left: -25vh;
    font-size: 30px;
  }
  .back5 {
    margin-left: 50px;
    margin-bottom: -20px;
    font-size: 30px;
  }
  .back6 {
    margin-left: 80px;
    margin-bottom: -30px;
    margin-top: -30px;
    font-size: 30px;
  }
  .back9 {
    margin-left: 80px;
    margin-bottom: 2px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back8 {
    margin-left: 80px;
    margin-bottom: 2px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back9 {
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back10 {
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back11 {
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: -20px;
    font-size: 30px;
  }
  .back12 {
    margin-left: 80px;
    margin-bottom: -1px;
    margin-top: -10px;
    font-size: 30px;
  }
  .bgsetabs {
    font-size: 27px;
  }
  .bgsetabss {
    font-size: 27px;
    margin-top: -50px;
    margin-left: 25vh;
    margin-bottom: 20px;
  }
  .bgset2 {
    font-size: 25px;
    margin-top: -20px;
  }
  .bgset4 {
    font-size: 25px;
  }
  .bgset5 {
    font-size: 25px;
    margin-bottom: -15px;
  }

  .bgset6 {
    font-size: 25px;
  }
  .bgset7 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: -40px;
  }
  .bgset8 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: -40px;
  }
  .bgset10 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: -40px;
  }
  .bgset11 {
    font-size: 25px;
    margin-bottom: -22px;
    margin-top: -40px;
  }
  .bgset12 {
    font-size: 25px;
    margin-bottom: -40px;
    margin-top: -10px;
  }
  .bgset13 {
    font-size: 25px;
    margin-bottom: -20px;
    margin-top: -30px;
  }
  .time3 {
    font-size: 25px;
    margin-top: 1vh;
    margin-bottom: 13vh;
    margin-left: -22vh;
  }

  .time4 {
    margin-left: -25vh;
    font-size: 22px;
  }
  .vr {
    width: 60vh;
    margin-left: -40px;
    font-weight: bolder;
    margin-top: -10px;
  }

  .vrs {
    width: 60vh;
    margin-left: -40px;
    font-weight: bolder;
    margin-top: 18px;
  }

  .vrabsb {
    width: 64vh;
    margin-left: 15px;
    font-weight: bolder;
    margin-top: -6px;
  }
  .sec {
    margin-left: 11vh;
    color: gray;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .x {
    margin-left: 7vh;
    color: gray;
    font-size: 30px;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .bgset {
    margin-top: -2vh;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .back {
    margin-left: 5vh;
    margin-bottom: -10px;
    margin-top: 8px;
    font-size: 40px;
  }
  .che1 {
    margin-top: 8px;
    margin-left: 17vh;
    font-size: 30px;
  }
  .time {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -20vh;
  }
  .jjak {
    margin-left: 26vh;

    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .barm {
    margin-left: 20vh;
    font-size: 23px;
  }
  .bpun {
    margin-left: 15vh;
    font-size: 25px;
  }
  .bups {
    margin-left: 16vh;
    font-size: 25px;
  }
  .binch {
    margin-left: 20vh;
    font-size: 25px;
  }
  .bwal {
    margin-left: 25vh;
    font-size: 25px;
  }

  .btwist {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .htoch {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .bplk {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18vh;
    margin-left: 12vh;
    font-weight: bold;
  }
  .bleg {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20vh;
    font-weight: bold;
  }
  .btn {
    font-size: 30px;
    height: 60px;
  }
  .but {
    margin-left: 12px;
    margin-right: 10px;
  }
  .bbdy {
    min-height: 123.5vh;
    width: 52vh;
    border: none;
  }

  .abbin {
    margin-top: -20vh;
    margin-bottom: 16.7vh;
    margin-left: 18vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bolder;
  }
  .chest {
    margin-top: -20vh;
    margin-bottom: 16.7vh;
    margin-left: 14.5vh;
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .armb {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 18vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .legb {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 18vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .backb {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 16vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .absi {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 12vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .chesti {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 8vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .armi {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 11vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .legi {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 11vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .backi {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 9vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .absa {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 17vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .chesta {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 13vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .arma {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 16vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }

  .lega {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 16vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .backa {
    margin-bottom: 16.7vh;
    margin-top: -20vh;
    color: white;
    margin-left: 15.2vh;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  .home {
    font-size: 31.8px;
  }
  .animation {
    margin-top: 10vh;
  }
  .doneOutOfRemaining {
    font-size: 30px;
  }
  .jumtim {
    font-size: 26px;
  }
}
