.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  width: 50vh;
  border: solid;
  background-color: hsl(60, 100%, 50%);
  margin-left: 35%;
}
.bdy {
  background-color: rgb(110, 89, 89);
}
.begin {
  margin-left: -30vh;
  margin-bottom: 10px;
}
.int {
  margin-left: -25vh;
  margin-bottom: 10px;
}
.adv {
  margin-left: 1-4vh;
  margin-bottom: 10px;
}
.cad {
  border: solid;
  border-radius: 10px;
  height: 25vh;
  width: 100%;
  text-align: center;
}
